//Primary
$darkBlue: rgb(7, 4, 57);
$desaturatedBlue: rgb(88, 89, 137);

//Accent
$brightBlue: rgb(48, 101, 248);
$modCyan: rgb(60, 159, 143);

//Neutral
$grayBlue: rgb(246, 246, 254);
$lightGray: rgb(191, 191, 191);