html,
body{
    //font-size: 16px;
    color: $darkBlue;
    font-family: $font-body;
}

.mainWrapper{
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px;

    @media (min-width: 1024px){
        padding: 60px;
    }
}

//nav 

header{
    margin-bottom: 100px;
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        display: inline-block;
    }
    .navlinks{
        display: flex;
    }
    .navitems a{
        display: inline-block;
        padding-right: 30px;
        color: hsl(243, 87%, 12%);
        font-family: $font-header;

        @media (min-width:1024px) {
            padding-right: 60px;     
        }
    }

}

//hero Section

section.hero{
    display: flex;
    flex-direction: column-reverse;
    vertical-align: center;
    margin-bottom: 200px;
    max-width: 100%;

    @media (min-width:1024px){
        flex-direction: row;
        
    }
}

.heroText{
    padding-top: 100px;

    @media (min-width: 1024px){
        max-width: 42%;
        margin-right: 60px;
    }

    h1{
        font-size: 32px;
        font-family: $font-header;
        font-weight: 700;
        line-height: 1.65;
        text-align: center;

        @media (min-width:1024px){
            font-size: 38px;
            text-align: left;
        }
    }

    p{
        text-align: center;
        font-size: 22px;
        line-height: 1.5;
        margin-top: 40px;
        margin-bottom: 40px;

        @media (min-width:1024px){
            font-size: 18px;
            text-align: left;
        }
    }

    form {
        display: flex;
        flex-direction: column;


        & input[type=email]{
            padding: 20px 15px;
            border: 1px solid #000;
            border-radius: 3px;
            color: $lightGray;
            font-size: 14px;
        }

        & input[type=submit]{
            background: $brightBlue;
            border: none;
            color: #fff;
            padding: 20px;
            font-size: 20px;
            font-weight: 700;
            border-radius: 3px;
            box-shadow: 0px 0px 13px -4px darken($color: $lightGray, $amount: 20%);
            margin-top: 15px;

            &:hover{
                box-shadow: 0px 0px 20px 0px darken($color: $lightGray, $amount: 30%);
            }
        }

        @media (min-width: 600px){
            flex-direction: row;
            justify-content: center;
            align-content: center;

            & input[type=email]{
                padding: 10px 150px 10px 20px;
                margin-right: 15px;
            }

            & input[type=submit]{
                padding: 20px 60px;
                font-size: 16px;
                margin: 0;
                font-weight: 700;
            }
        }
        
        @media (min-width: 1000px){
            flex-direction: row;
            justify-content: start;
            align-content: center;
        }

    }
}
.curve{
    width: 100%;
    height: 100px;
    margin-bottom: -10px;
    background-color: #ffff;
}


section.mainCTA {
    background-color: $grayBlue;

    .cta_container{
    display: flex;
    flex-direction: column-reverse;
    vertical-align: center;

    @media (min-width:1024px) {
        flex-direction: row;
    }
}


    .cta_text{

        @media (min-width: 1024px){
            margin-right: 100px;
        }
        
        h1 {
            font-size: 28px;
            font-weight: 700;
            font-family: $font-header;
            color: $darkBlue;
            margin-bottom: 40px;
            margin-top: 100px;
            text-align: center;

            @media (min-width: 1024px){
                font-size: 36px;
                margin-top: 40px;
                margin-bottom: 50px;
                text-align: left;
            }
        }

        p {
            font-size: 22px;
            line-height: 1.5;
            color: HSL(251,8%,61%);

            @media (min-width: 1024px) {
                font-size: 16px;
                color: #000;
            }
        }

        .green_text {
            text-align: center;
            border-bottom: 2px solid $modCyan;
            max-width: 251px;
            margin: 60px auto;
            
            p{
                display: flex;
                align-items: center;
                color: $modCyan;
                font-size: 22px;
                padding-bottom: 5px;

                img{
                    margin-left: 20px;
                    height: 30px;
                    width: 30px;
                }
            }

            @media (min-width: 1024px){
                text-align: left;
                margin: 30px 0 40px 0;
                max-width: 175px;

                p{
                    font-size: 16px;

                    img {
                        height: 15px;
                        width: 15px;
                        margin-left: 10px;
                    }
                }
            }
            
            
        }

        .card {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: -2px -2px 39px -16px darken($color: $lightGray, $amount: 10%);
            max-width: 566px;
            margin: 0 auto 120px auto;
    
            .quote{
                padding: 30px;
                color: #000;
    
                img{
                    height: 20px;
                    width: 20px;
                }
            }

            .avatar{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-left: 30px;
                padding-bottom: 50px;

                img{
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                }

                .name{
                    padding-left: 15px;
                    line-height: 1.5;
                    color: #000;

                    h3{
                        font-size: 20px;
                        font-weight: 700;
                    }

                    p.small{
                        font-size: 14px;
                        color: #000;
                    }
                }
            }

            @media (min-width: 1024px){
                margin: 40px 0;
            }
        }

    }

    .cta_image {

        img{
            width: 95%;
            margin: 60px auto; 
            padding-left: 20px;
            padding-right: 20px;

            @media (min-width: 1024px){
                width: 75%;
                margin-top: 100px;
            }
            
        }
    }
        
}

section.secondCTA{
    background-color: $desaturatedBlue;

    .email_container{
        display: flex;
        flex-direction: column;
        vertical-align: center;
        margin-left: 40px;
        margin-right: 40px;

        @media (min-width:1024px){   
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
         }

        .text_left{
            h1{
                font-size: 28px;
                font-weight: 700;
                font-family: $font-header;
                color: hsl(0, 0%, 100%);
                text-align: center;
                margin-top: 50px;
                margin-bottom: 30px;
            }

            p{
                font-size: 20px;
                line-height: 1.5;
                color: hsl(0, 0%, 100%);
                text-align: center;
                margin-bottom: 30px;
            }

            @media (min-width: 1024px){
                margin-right: 200px;
                h1{
                    text-align: left;
                    font-size: 36px;
                }

                p{
                    text-align: left;
                    font-size: 16px;
                    max-width: 65%;
                    
                }
            }
        }

        .form_right {
            form{
             display: flex;
             flex-direction: column;

             & input[type=email]{
                 padding: 15px 100px 15px 20px;
                 border: none;
                 font-family: $font-header;
                 font-size: 14px;
                 color: $lightGray;
                 border-radius: 3px;
                 margin-bottom: 10px;
             }

             & input[type=submit]{
                 padding: 15px;
                 background-color: $brightBlue;
                 border: none;
                 color: hsl(0, 0%, 100%);
                 font-size: 16px;
                 font-weight: 700;
                 margin-bottom: 50px;
                 box-shadow: 0px 0px 10px -2px darken($color: $desaturatedBlue, $amount: 25%);
             }

            }
          
            @media (min-width: 1024px){
                form{
                    margin-top: 50px;
                    & input[type=email]{
                        padding: 15px 340px 15px 20px;
                        margin-bottom: 20px;

                    }

                    & input[type=submit]{
                        max-width: 200px;
                        font-size: 14px;
                    }

                }
            }
        }
    }

}
